body > .app-section {
    height: auto;
    min-height: 100%;
}

.app-section {
    @include section-is-hidden($s-site-head);

    @extend .container-fluid;

    height: 100%;
}

.app-section--content {
    padding-bottom: $s-site-head;
}

.app-section__head {
    @include make-row;
    @include font-dark;

    position: absolute;
    width: 100%;
    height: $s-app-head;
    background-color: cAction(1);
}

.app-section__body {
    @include make-row;

    padding-top: $s-app-head;
}