body > .app-wrapper {
    height: auto;
    min-height: 100%;
}

.app-wrapper {
    height: 100%;

    &.is-hidden {
        height: $s-site-head;
        min-height: $s-site-head;
        overflow: hidden;
        visibility: hidden;
    }
}

.app-wrapper--content {
    padding-bottom: $s-site-head;
}

.app-wrapper__head {
    position: absolute;
    width: 100%;
    height: $s-app-head;
    background-color: cAction(1);
}

.app-wrapper__body {
    padding-top: $s-app-head;

}