{% load compressed %}
<!DOCTYPE html>
<html>
    <head>
        {% compressed_css 'styles' %}
        {% compressed_js 'vendor' %}
        <title>WebAppSite Base</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div class="web-background">
            <img src="/static/vendor/ubuntu-artwork/1280p/Reflections-Trenton_Fox.jpg" />
        </div>
        <div class="app-wrapper" web-wrapper="app">
            <div class="app-wrapper--content">
                <div class="app-wrapper__head" web-wrapper-head>
                    the head content
                </div>
                <div class="app-wrapper__body" web-wrapper-body>
                    the body content
                </div>
            </div>
        </div>
        <div class="site-wrapper wrapper" web-wrapper="site">
            <div class="site-wrapper--content">
                <div class="site-wrapper__head" web-wrapper-head>
                    the head content
                </div>
                <div class="site-wrapper__body" web-wrapper-body>
                    the body content
                </div>
            </div>
        </div>
    </body>
</html>