{% load compressed %}
<!DOCTYPE html>
<html ng-app="#">
    <head>
        {% compressed_css 'styles' %}
        <script type="application/javascript" src="/js/environment.js"></script>
        {% compressed_js 'vendor' %}
        {% for module in INSTALLED_MODULES %}{% compressed_js module %}{% endfor %}
        <title>WebAppSite Base</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div class="web-background">
            <img src="/static/vendor/ubuntu-artwork/1280p/Reflections-Trenton_Fox.jpg" />
        </div>
        {% for module,config in SECTION_MODULES.items %}
        <div class="{{module}}-wrapper{% if config.toggled %} {{config.toggle_class}}{% endif %}" web-wrapper="{{module}}">
            <div class="{{module}}-wrapper--content">
                <div class="{{module}}-wrapper__head" web-wrapper-head>
                    the module head
                </div>
                <div class="{{module}}-wrapper__body" web-wrapper-body>
                    the module bottom
                </div>
            </div>
        </div>
        {% endfor %}
    </body>
</html>