@mixin font-light {
    color: #222222;
}

@mixin font-dark {
    color: #eeeeee;
}

@mixin section-is-collapsed($s-section-head) {
    &.is-collapsed {
        height: $s-section-head;
        min-height: $s-section-head;
        overflow: hidden;
    }
}

@mixin section-is-hidden($s-section-head) {
    &.is-hidden {
        height: $s-section-head;
        min-height: $s-section-head;
        overflow: hidden;
        visibility: hidden;
    }
}

@mixin section-toggle {
    @include make-xs-column(1);
    @include make-xs-column-offset(11);

    height: 100%;
    background-color: red;

    &.is-disabled {
        cursor: default !important;
        opacity: 0.4;
    }
}