
body > .bottom-wrapper {
    height: auto;
    min-height: 100%;
}

.bottom-wrapper {
    @include wrapper-is-collapsed($s-bottom-head);

    position: relative;
    margin-top: -$s-bottom-head;
    height: 100%;
}

.bottom-wrapper--content {
}

.bottom-wrapper__head {
    position: absolute;
    width: 100%;
    height: $s-bottom-head;
    background-color: cOrange03(0.9);
}

.bottom-wrapper__body {
    padding-top: $s-bottom-head;

}
