
body > .site-wrapper {
    height: auto;
    min-height: 100%;
}

.site-wrapper {
    position: relative;
    margin-top: -$s-site-head;
    height: 100%;

    &.is-collapsed {
        height: $s-site-head;
        min-height: $s-site-head;
        overflow: hidden;
    }
}

.site-wrapper--content {
}

.site-wrapper__head {
    position: absolute;
    width: 100%;
    height: $s-site-head;
    background-color: cOrange01(0.9);
}

.site-wrapper__body {
    padding-top: $s-site-head;

}