
body > .site-section {
    height: auto;
    min-height: 100%;
}

.site-section {
    @include section-is-collapsed($s-site-head);

    position: relative;
    margin-top: -$s-site-head;
    height: 100%;
}

.site-section--content {
}

.site-section__head {
    position: absolute;
    width: 100%;
    height: $s-site-head;
    background-color: cOrange01(0.9);
}

.site-section__body {
    padding-top: $s-site-head;

}