
body > .site-wrapper {
    height: auto;
    min-height: 100%;
}

.site-wrapper {
    position: relative;
    margin-top: -$s-site-head;
    height: 100%;
}

.site-wrapper--content {
}

.site-wrapper__head {
    position: absolute;
    height: $s-site-head;
}

.site-wrapper__body {
    padding-top: $s-site-head;

}